.about {
  .container {
    @include small-tablet {
      padding-right: 0px;
    }
  }

  &__wrapper {
    padding: 225px 0 225px;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    line-height: 117%;
    text-transform: uppercase;
    @include text-style(24px, 400, var(--gray-color));

    display: flex;

    @include tablet {
      display: none;
    }
  }
  &__box {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dde2e6;
    border-bottom: 1px solid #dde2e6;

    .about__title {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__buttons {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dde2e6;
    border-bottom: 1px solid #dde2e6;

    overflow: auto;
  }

  &__slider {
    display: flex;
    gap: 16px;
  }

  &__info {
    @include mobile {
      display: flex;
      flex-direction: column;

      padding-bottom: 20px;
      border-bottom: 1px solid #dde2e6;
    }
  }
  &__number {
    @include text-style(115px, 400, var(--orange-color));

    @include small-tablet {
      @include text-style(76px, 400, var(--orange-color));
    }

    @include mobile {
      align-self: center;
    }
  }
  &__text {
    @include text-style(16px, 400, #202020);

    @include small-tablet {
      @include text-style(10px, 400, #202020);
    }

    @include mobile {
      align-self: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    width: 55%;

    @include mobile {
      padding-top: 20px;
      width: 100%;
    }
  }
  &__caption {
    @include text-style(24px, 400, #373a48);

    @include small-tablet {
      @include text-style(18px, 400, #373a48);
    }
  }
  &__descr {
    @include text-style(16px, 400, #373a48);

    @include small-tablet {
      @include text-style(14px, 400, #373a48);
    }
  }
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 100%;
  border: 1.171px solid var(--light-blue-color);
  width: 137.037px;
  height: 137.037px;

  cursor: pointer;

  &__text {
    @include text-style(16px, 400, var(--light-blue-color));

    @include mobile {
      @include text-style(9px, 400, var(--light-blue-color));
    }
  }
  &__number {
    @include text-style(25px, 600, var(--light-blue-color));

    @include mobile {
      @include text-style(15px, 600, var(--light-blue-color));
    }
  }

  &--active {
    border: 1.171px solid var(--orange-color);

    .round__text {
      @include text-style(16px, 400, var(--orange-color));

      @include mobile {
        @include text-style(9px, 400, var(--orange-color));
      }
    }
    .round__number {
      @include text-style(25px, 600, var(--orange-color));

      @include mobile {
        @include text-style(15px, 600, var(--orange-color));
      }
    }
  }

  @include mobile {
    width: 89px;
    height: 89px;
  }
}
