.company {
  &__wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--light-color);
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
  }
  &__right {
    position: relative;
    overflow: hidden;
  }

  &__title-box {
    display: flex;
    align-items: flex-end;
    gap: 11px;
  }
  &__title {
    @include text-style(32px, 400, var(--gray-color));
  }
  &__desc {
    width: 80%;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &__nav {
    padding: 18px;
    position: absolute;
    display: flex;
    gap: 10px;

    left: 0px;
    bottom: 0px;
    z-index: 5;

    border-right: 1px solid #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 50%
    );
    backdrop-filter: blur(5.5px);
  }
}
