.object {
  padding: 284px 0 110px;

  .container {
    @include small-tablet {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  &__slider {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    left: 0px;
    bottom: 0px;
    z-index: 5;
  }

  &__item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include small-tablet {
    .site-link {
      display: none;
    }
  }
}
