.services {
  background-image: url("../img/back.png");
  background-repeat: repeat-x;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  &__title {
    line-height: 117%;
    text-transform: uppercase;
    @include text-style(32px, 400, var(--gray-color));
  }
  &__link {
    @include text-style(16px, 400, var(--blue-color));
  }

  &__showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    overflow: hidden;
    position: relative;
    height: 216px;
  }

  .site-link {
    @include small-tablet {
      display: none;
    }
  }

  .orange-button {
    display: none;
    align-self: center;

    @include small-tablet {
      display: block;
    }
  }
}

.card {
  &:hover {
    .blur-horizontal {
      right: 30%;
    }
  }

  &__img {
    position: absolute;
    display: flex;
    height: 100%;

    img {
      height: 100%;
    }
  }

  &__blur {
    position: absolute;
    border-right: 1px solid var(--light-color);
    background: linear-gradient(
      90deg,
      rgba(244, 149, 31, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    backdrop-filter: blur(16px);
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
  }

  &__box {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    z-index: 3;

    top: 50%;
    left: 38px;
    transform: translateY(-50%);

    width: 35%;
  }

  &__title {
    line-height: 117%; /* 28.08px */

    @include text-style(24px, 400, var(--light-color));

    @include mobile {
      @include text-style(16px, 400, var(--light-color));
    }
  }
  &__link {
    @include text-style(16px, 400, var(--light-color));

    @include mobile {
      display: none;
    }
  }
}

.list-services {
  background-image: url("../img/back.png");
  background-repeat: repeat-x;
}
