.main-slider {
  &-pag {
    width: auto !important;
    left: calc(50% + 650px) !important;
    bottom: 50% !important;

    @media (max-width: 1350px) {
      left: initial !important;
      right: 0 !important;
    }

    .swiper-pagination-bullet {
      border-radius: 44px;
      border: 1px solid #f2f4fa;
      background: transparent;

      width: 21px;
      height: 21px;

      margin-top: 8px !important;
    }
    .swiper-pagination-bullet-active {
      position: relative;
      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 44px;
        background: #f2f4fa;
      }
    }
  }
}

.slider {
  &-button {
    cursor: pointer;
    svg {
      width: 48px;
      height: 48px;
      fill: white;
    }

    &--blue {
      svg {
        width: 48px;
        height: 48px;
      }

      circle {
        stroke: #038ad2;
      }
      path {
        fill: #038ad2;
      }
    }
  }

  &-button.swiper-button-disabled {
    opacity: 0.4;
  }
}

.object-slider-pag,
.gallery-slider-pag {
  position: static;
  width: auto !important;

  .swiper-pagination-bullet-active {
    background-color: #f4951f;
  }
}
