.catalog {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__search {
    display: flex;
    gap: 30px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__box {
    position: relative;
    flex-grow: 1;
  }

  &__input {
    padding: 14px 12px;
    border: 1px solid #afafaf;

    width: 100%;

    @include text-style(18px, 400, #afafaf);
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;

    &:hover {
      .blur-vertical {
        top: 50%;
      }
    }

    img {
      width: 100%;
    }
  }
}

.focus-visible {
  border: 1px solid #373a48;
  @include text-style(18px, 400, #373a48);
}

.focus-visible + .catalog__icon {
  circle,
  path {
    stroke: #373a48;
  }
}
