.project {
  background-image: url("../img/back.png");
  background-repeat: repeat-x;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__title {
    line-height: 123.5%; /* 39.52px */

    @include text-style(32px, 500, #373a48);

    @include small-tablet {
      @include text-style(22px, 500, #373a48);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 60% 40%;

    height: 474px;

    @media (max-width: 960px) {
      padding: 32px;

      grid-template-columns: 1fr;
      grid-template-rows: auto min-content;
      gap: 32px;

      height: auto;

      background-color: #fff;
    }
  }
}

.deadline {
  min-height: 0;

  padding: 81px 68px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  background: #fff;
  box-shadow: 0px 0px 11.50443px 0px rgba(181, 210, 255, 0.25);

  @media (max-width: 960px) {
    box-shadow: none;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__title {
    text-transform: uppercase;

    @include text-style(32px, 400, #373a48);

    @include small-tablet {
      @include text-style(22px, 400, #373a48);
    }
  }
  &__number {
    text-transform: uppercase;

    @include text-style(32px, 400, #f4951f);

    @include small-tablet {
      @include text-style(22px, 400, #f4951f);
    }
  }
  &__descr {
    line-height: 160%; /* 25.6px */

    @include text-style(16px, 400, #373a48);

    @include small-tablet {
      @include text-style(13px, 400, #373a48);
    }
  }

  @media (max-width: 1250px) {
    padding: 30px 30px;
  }
}

.another-project {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    @media (max-width: 960px) {
      grid-template-columns: 1fr 1fr;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
  }

  &__img {
    width: 169px;

    img {
      height: 100%;
    }
  }

  &__info {
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #fff;
    box-shadow: 0px 0px 12.34768px 0px rgba(181, 210, 255, 0.25);

    @include small-tablet {
      flex-grow: 1;
    }
  }

  &__title {
    color: #373a48;
    font-family: Montserrat;
    font-size: 17.097px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.5%; /* 21.115px */

    @include mobile {
      font-size: 13px;
    }
  }
  &__link {
    color: #f4951f;
    font-family: Montserrat;
    font-size: 15.026px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.755px; /* 271.226% */

    @include mobile {
      font-size: 12px;
    }
  }
}
