// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// @import "./components/modals";

.modal-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  align-items: center;
  justify-content: center;
}

.modal-content img {
  max-width: 80%;
  max-height: 80%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/main/main";
@import "./components/main/services";
@import "./components/main/about";
@import "./components/main/company";
@import "./components/main/object";

@import "./components/catalog/catalog";

@import "./components/contatcs/our-contatcs";

@import "./components/vehicle-cart/vehicle";

@import "./components/servises/our-services";

@import "./components/cards/cards";
@import "./components/project/project";
@import "./components/contact";
@import "./components/form";

@import "./components/range-slider";

@import "./components/slider";
